<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>defaults</key>
    <array>
        <dict>
            <key>username</key>
            <string>sarrahsworld</string>
            <key>description</key>
            <string>Sarah Abdelrahman</string>
        </dict>
        <dict>
            <key>username</key>
            <string>danlevitin</string>
            <key>description</key>
            <string>Dan Levitin</string>
        </dict>
        <dict>
            <key>username</key>
            <string>lovipoe</string>
            <key>description</key>
            <string>Lovi Poe</string>
        </dict>
        <dict>
            <key>username</key>
            <string>respektor</string>
            <key>description</key>
            <string>Regina Spektor</string>
        </dict>
    </array>
</dict>
</plist>
